# gatsby
public/

# netlify
.netlify/

.env
.envrc
dist/
build/
.cache/
.mypy_cache/
.parcel-cache/
.netlify/

*.bak
*.orig
*PENDING_DELETION*

# Editors
*~
tags
tags.*
.idea/
.vscode/
.vim/
*.sw[op]

node_modules/
